kdlDiagram:
    id: example
    name: "example"
    clusters:
      - id: ClusterNode0
        name: "default"
        services:
          - id: ServiceNode0
            name: "kubernetes"
            type:
                id: ServiceType
                name: "CIP"
            ports:
              - id: kubernetesPort0
                name: "https"
                number: 443
        pods:
          - id: PodNode0
            name: "nginx-676b6c5bbc-kbtq6"
            controller:
                id: PodController
                name: "RC"
            cardinality:
                id: PodCardinality
                name: "1"
            containers:
              - id: ContainerNode0
                name: "nginx"
    diagram:
        nodeAttributes:
          - id: NodeAttribute0
            nodeID: example.ClusterNode0
            dimensions:
                x: 0
                y: 0
                width: 10
                height: 10
          - id: NodeAttribute2
            nodeID: example.ClusterNode0.PodNode0.ContainerNode0
            dimensions:
                x: 0
                y: 0
                width: 10
                height: 10
          - id: NodeAttribute3
            nodeID: example.ClusterNode0.PodNode0
            dimensions:
                x: 0
                y: 0
                width: 10
                height: 10
          - id: NodeAttribute10
            nodeID: example.ClusterNode0.ServiceNode0.kubernetesPort0
            dimensions:
                x: 0
                y: 0
                width: 10
                height: 10
          - id: NodeAttribute12
            nodeID: example.ClusterNode0.ServiceNode0
            dimensions:
                x: 0
                y: 0
                width: 10
                height: 10
          - id: NodeAttribute17
            nodeID: example.ClusterNode1
            dimensions:
                x: 66
                y: 308
                width: 165.703125
                height: 116
          - id: NodeAttribute18
            nodeID: example.ClusterNode1.ServiceNode1
            dimensions:
                x: 154
                y: 141
                width: 63.375
                height: 79